<dialog class="editPost" id="postEditModal">
    <div>
        <input value=""
               name="postTitle"
               class="newPost__input"
               type="text"
               placeholder="Title" />
    </div>
    <div>
        <input value=""
               name="postURL"
               class="newPost__input"
               type="text"
               placeholder="URL of gif" />
    </div>

    <textarea name="postDescription"
        class="newPost__input newPost__description"
        placeholder="Story behind your gif..."></textarea>

    <button id="post__update">Update Post</button>
    <button id="post__cancel">Cancel</button>
</dialog>